In [1]:
import pandas as pd
import numpy as np  # Import numpy for NaN handling
import geopandas as gpd
from shapely.geometry import Point

In [2]:
combined2023 = []
# List of file names to be combined 
combined2023 = ['2023-citibike-tripdata/1_January/202301-citibike-tripdata_1.csv', '2023-citibike-tripdata/1_January/202301-citibike-tripdata_2.csv',
               '2023-citibike-tripdata/2_February/202302-citibike-tripdata_1.csv', '2023-citibike-tripdata/2_February/202302-citibike-tripdata_2.csv',
               '2023-citibike-tripdata/3_March/202303-citibike-tripdata_1.csv', '2023-citibike-tripdata/3_March/202303-citibike-tripdata_2.csv','2023-citibike-tripdata/3_March/202303-citibike-tripdata_3.csv',
               '2023-citibike-tripdata/4_April/202304-citibike-tripdata_1.csv', '2023-citibike-tripdata/4_April/202304-citibike-tripdata_2.csv','2023-citibike-tripdata/4_April/202304-citibike-tripdata_3.csv',
               '2023-citibike-tripdata/5_May/202305-citibike-tripdata_1.csv', '2023-citibike-tripdata/5_May/202305-citibike-tripdata_2.csv','2023-citibike-tripdata/5_May/202305-citibike-tripdata_3.csv','2023-citibike-tripdata/5_May/202305-citibike-tripdata_4.csv',
               '2023-citibike-tripdata/6_June/202306-citibike-tripdata_1.csv', '2023-citibike-tripdata/6_June/202306-citibike-tripdata_2.csv','2023-citibike-tripdata/6_June/202306-citibike-tripdata_3.csv','2023-citibike-tripdata/6_June/202306-citibike-tripdata_4.csv',
               '2023-citibike-tripdata/7_July/202307-citibike-tripdata_1.csv', '2023-citibike-tripdata/7_July/202307-citibike-tripdata_2.csv','2023-citibike-tripdata/7_July/202307-citibike-tripdata_3.csv','2023-citibike-tripdata/7_July/202307-citibike-tripdata_4.csv',
               '2023-citibike-tripdata/8_August/202308-citibike-tripdata_1.csv', '2023-citibike-tripdata/8_August/202308-citibike-tripdata_2.csv','2023-citibike-tripdata/8_August/202308-citibike-tripdata_3.csv','2023-citibike-tripdata/8_August/202308-citibike-tripdata_4.csv','2023-citibike-tripdata/8_August/202308-citibike-tripdata_5.csv',
               '2023-citibike-tripdata/9_September/202309-citibike-tripdata_1.csv', '2023-citibike-tripdata/9_September/202309-citibike-tripdata_2.csv','2023-citibike-tripdata/9_September/202309-citibike-tripdata_3.csv','2023-citibike-tripdata/9_September/202309-citibike-tripdata_4.csv',
               '2023-citibike-tripdata/10_October/202310-citibike-tripdata_1.csv', '2023-citibike-tripdata/10_October/202310-citibike-tripdata_2.csv','2023-citibike-tripdata/10_October/202310-citibike-tripdata_3.csv','2023-citibike-tripdata/10_October/202310-citibike-tripdata_4.csv',
               '2023-citibike-tripdata/11_November/202311-citibike-tripdata_1.csv', '2023-citibike-tripdata/11_November/202311-citibike-tripdata_2.csv','2023-citibike-tripdata/11_November/202311-citibike-tripdata_3.csv', 
               '2023-citibike-tripdata/12_December/202312-citibike-tripdata_1.csv', '2023-citibike-tripdata/12_December/202312-citibike-tripdata_2.csv','2023-citibike-tripdata/12_December/202312-citibike-tripdata_3.csv', ]

# Create an empty list to store each dataframe
df23_list = []

# Loop through each file in the list
for file in combined2023:
    # Read the file into a dataframe
    df23 = pd.read_csv(file, dtype={'start_station_id': str, 'end_station_id': str})

    # Append the dataframe to the list
    df23_list.append(df23)

# Concatenate all dataframes in the list into one dataframe
df23 = pd.concat(df23_list)

# Show dataframe
df23

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
273660,796BC679FFED8FB8,classic_bike,2023-12-14 10:01:36,2023-12-14 10:02:31,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
273661,A8FFE1251749A510,classic_bike,2023-12-14 10:13:42,2023-12-14 10:14:27,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
273662,AC14339B505A0000,classic_bike,2023-12-14 10:09:56,2023-12-14 10:10:44,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
273663,FC3702FD4319EC93,classic_bike,2023-12-14 10:03:47,2023-12-14 10:04:36,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
273664,930E4226552E06D8,classic_bike,2023-12-17 13:15:50,2023-12-17 13:16:46,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member

In [3]:
#deletes if the start or end station is null 
df23 = df23[(~df23['start_station_id'].isnull()) & (~df23['end_station_id'].isnull())]

In [4]:
# Convert 'started_at' and 'ended_at' to datetime if they are not already
df23['started_at'] = pd.to_datetime(df23['started_at'])
df23['ended_at'] = pd.to_datetime(df23['ended_at'])

# Calculate the duration in seconds
df23['duration'] = (df23['ended_at'] - df23['started_at']).dt.total_seconds()

# Now df23 contains a new field 'duration' representing the duration between 'started_at' and 'ended_at'
#print(df23[['started_at', 'ended_at', 'duration']])

C:\Users\david\AppData\Local\Temp\ipykernel_27828\1858973831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df23['started_at'] = pd.to_datetime(df23['started_at'])
C:\Users\david\AppData\Local\Temp\ipykernel_27828\1858973831.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df23['ended_at'] = pd.to_datetime(df23['ended_at'])
C:\Users\david\AppData\Local\Temp\ipykernel_27828\1858973831.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df23['duration'] = (df23['ended_at'] - df23['started_at']).dt.total_seconds()

In [5]:
print(df23.info())

<class 'pandas.core.frame.DataFrame'>
Index: 36117636 entries, 0 to 273664
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  duration            float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 4.0+ GB
None

In [6]:
station_df = df23[['start_station_name', 'start_station_id', 'start_lat', 'start_lng']].copy()
station_df.rename(columns={'start_station_name': 'station_name', 
                       'start_station_id': 'station_id', 
                       'start_lat': 'station_lat', 
                       'start_lng': 'station_lng'}, inplace=True)

# Make the DataFrame distinct based on station_id
station_df = station_df.drop_duplicates(subset=['station_id'])

# Now new_df contains distinct rows based on station_id
print(station_df)

                              station_name station_id  station_lat  \
0                    E 53 St & Madison Ave    6659.03    40.759724
1                    Halsey St & Ralph Ave    4334.02    40.684970
2                      Bank St & Hudson St    5922.08    40.736566
4       Frederick Douglass Blvd & W 112 St    7631.23    40.801694
6                           1 Ave & E 6 St    5626.15    40.726331
...                                    ...        ...          ...
416232                       11 St & 44 Rd    6319.04    40.749207
416384            Caton Ave & St. Pauls Pl    3335.09    40.651518
511020                    7 St & Monroe St      HB304    40.722945
367181             Pitkin Ave & Grafton St    3877.04    40.668520
610664                    Grand St & 14 St      HB506    40.722945

        station_lng
0        -73.973664
1        -73.922755
2        -74.006092
4        -73.957145
6        -73.986169
...             ...
416232   -73.949373
416384   -73.962855
511020   -74.011544
367181   -73.919080
610664   -74.011544

[2348 rows x 4 columns]

In [7]:
# Load the GeoJSON file containing the boundaries of New York City boroughs from https://data.cityofnewyork.us/City-Government/Borough-Boundaries/tqmj-j8zm
nyc_boroughs = gpd.read_file(r'C:\Users\david\OneDrive\Documents\GitHub\Tableau_citi_bike\2023-citibike-tripdata\2023-citibike-tripdata\BoroughBoundaries.geojson')

# Define a function to determine the borough based on latitude and longitude
def get_borough(lat, lon):
    point = Point(lon, lat)
    for index, row in nyc_boroughs.iterrows():
        if point.within(row['geometry']):
            return row['boro_name']
    return 'Unknown'

# Apply the get_borough function to each row to get start and end boroughs
station_df['borough'] = station_df.apply(lambda row: get_borough(row['station_lat'], row['station_lng']), axis=1)

In [8]:
station_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2348 entries, 0 to 610664
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_name  2348 non-null   object
 1   station_id    2348 non-null   object
 2   station_lat   2348 non-null   float64
 3   station_lng   2348 non-null   float64
 4   borough       2348 non-null   object
dtypes: float64(2), object(3)
memory usage: 110.1+ KB

In [9]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36117636 entries, 0 to 273664
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  duration            float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 4.0+ GB

In [10]:
df23 = df23.merge(station_df[['station_id', 'borough']], 
                  how='left', 
                  left_on='start_station_id', 
                  right_on='station_id')

# Drop the redundant 'station_id' column
df23.drop(columns=['station_id'], inplace=True)

In [11]:
df23.rename(columns={'borough': 'start_borough'}, inplace=True)

In [12]:
df23.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,start_borough
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member,693.0,Manhattan
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual,915.0,Brooklyn
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual,1001.0,Manhattan
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member,661.0,Manhattan
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual,901.0,Manhattan

In [13]:
df23 = df23.merge(station_df[['station_id', 'borough']], 
                  how='left', 
                  left_on='end_station_id', 
                  right_on='station_id')

# Drop the redundant 'station_id' column
df23.drop(columns=['station_id'], inplace=True)

In [14]:
df23.rename(columns={'borough': 'end_borough'}, inplace=True)

In [15]:
df23.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,start_borough,end_borough
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member,693.0,Manhattan,Manhattan
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual,915.0,Brooklyn,Brooklyn
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual,1001.0,Manhattan,Manhattan
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member,661.0,Manhattan,Manhattan
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual,901.0,Manhattan,Manhattan

In [16]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36117636 entries, 0 to 36117635
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  duration            float64
 14  start_borough       object
 15  end_borough         object
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 4.3+ GB

In [17]:
df23_new = df23[df23['start_borough'] != 'Unknown']

In [18]:
df23_new = df23_new[df23_new['end_borough'] != 'Unknown']

In [19]:
df23_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35889549 entries, 0 to 36117635
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  duration            float64
 14  start_borough       object
 15  end_borough         object
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 4.5+ GB

In [20]:
df23_new = df23_new[df23_new['duration'] > 60]

In [21]:
df23_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34776320 entries, 0 to 36117626
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  duration            float64
 14  start_borough       object
 15  end_borough         object
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 4.4+ GB

In [22]:
df23_new.head(200)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,start_borough,end_borough
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member,693.0,Manhattan,Manhattan
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual,915.0,Brooklyn,Brooklyn
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual,1001.0,Manhattan,Manhattan
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member,661.0,Manhattan,Manhattan
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual,901.0,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,C7126BCCC2BFEE96,classic_bike,2023-01-07 00:15:14,2023-01-07 00:21:05,Bushwick Ave & Powers St,5250.05,Irving Ave & DeKalb Ave,4898.02,40.712425,-73.941108,40.702700,-73.920950,member,351.0,Brooklyn,Brooklyn
197,4C291DC06F9966F8,classic_bike,2023-01-31 11:37:42,2023-01-31 11:52:29,Central Ave & Starr Street,4792.03,Broadway & Kosciuszko St,4608.01,40.700003,-73.928340,40.693290,-73.928520,member,887.0,Brooklyn,Brooklyn
198,F0833A8223F2EEE3,classic_bike,2023-01-31 13:08:23,2023-01-31 13:23:02,Great Jones St,5636.11,Carlton Ave & Flushing Ave,4732.08,40.727510,-73.993965,40.697787,-73.973736,member,879.0,Manhattan,Brooklyn
199,898882C0293C44EF,classic_bike,2023-01-05 15:22:54,2023-01-05 15:45:53,Great Jones St,5636.11,St James Pl & Oliver St,5238.05,40.727434,-73.993790,40.713079,-73.998512,member,1379.0,Manhattan,Manhattan
200,C3F7AF486E08E6F1,classic_bike,2023-01-09 14:40:51,2023-01-09 14:48:02,Courtlandt Ave & E 149 St,7840.05,W 145 St & Amsterdam Ave,7997.08,40.816367,-73.919619,40.825244,-73.947257,member,431.0,Bronx,Manhattan

In [23]:
distinct_start_borough = df23_new['start_borough'].drop_duplicates()

# Now distinct_start_borough contains distinct values from the 'start_borough' column
distinct_start_borough.head()

0     Manhattan
1      Brooklyn
46       Queens
48        Bronx
Name: start_borough, dtype: object

In [24]:
df_Bronx = df23_new[(df23_new['start_borough'] == 'Bronx') | (df23_new['end_borough'] == 'Bronx')]

In [25]:
df_Bronx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1354573 entries, 48 to 36117620
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1354573 non-null  object
 1   rideable_type       1354573 non-null  object
 2   started_at          1354573 non-null  datetime64[ns]
 3   ended_at            1354573 non-null  datetime64[ns]
 4   start_station_name  1354573 non-null  object
 5   start_station_id    1354573 non-null  object
 6   end_station_name    1354573 non-null  object
 7   end_station_id      1354573 non-null  object
 8   start_lat           1354573 non-null  float64
 9   start_lng           1354573 non-null  float64
 10  end_lat             1354573 non-null  float64
 11  end_lng             1354573 non-null  float64
 12  member_casual       1354573 non-null  object
 13  duration            1354573 non-null  float64
 14  start_borough       1354573 non-null  object
 15  end_borough         1354571 non-null  object
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 175.7+ MB

In [26]:
df_Bronx.to_csv('2023-citibike-tripdata/bronx.csv', index=False)

In [27]:
df_Queens = df23_new[(df23_new['start_borough'] == 'Queens') | (df23_new['end_borough'] == 'Queens')]

In [28]:
df_Queens.to_csv('2023-citibike-tripdata/queens.csv', index=False)

In [29]:
df_Brooklyn = df23_new[(df23_new['start_borough'] == 'Brooklyn') | (df23_new['end_borough'] == 'Brooklyn')]

In [30]:
df_Brooklyn.to_csv('2023-citibike-tripdata/brooklyn.csv', index=False)

In [31]:
df_Manhattan = df23_new[(df23_new['start_borough'] == 'Manhattan') | (df23_new['end_borough'] == 'Manhattan')]

In [32]:
df_Manhattan.to_csv('2023-citibike-tripdata/Manhattan.csv', index=False)